numpy 
langchain_ollama 
webrtcvad 
nest_asyncio 
typing_extensions 
langchain_core 
playwright 
asyncio 
platform 
base64 
hub 
langchain_groq 
langgraph 
IPython
json 
ollama 
llm_axe 
langchain_core 
langchain
python-dotenv
